// Place all the styles related to the Scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

.container{
	margin: auto;
	margin-top:15%;
	width: 85%;
}

tr{
  
}

td {
	
	border-right: 1px solid #fff;
	font-size: 16px;
	color: #fff;
}
